{% set showConsentMessage = showConsentMessage ?? true %}
{% set consentType = consentType ?? 'marketing' %}
{% set iframeOptions = iframeOptions ?? [] %}
{% set iframeClass = iframeClass ?? 'absolute inset-0 h-full w-full' %}
{% set wrapperClass = wrapperClass ?? 'absolute inset-0 h-full w-full' %}
{% set imageClass = imageClass ?? 'absolute inset-0 w-full h-full object-cover' %}
{% set textClass = textClass ?? 'relative text-white' %}

{% if video is not empty %}
    {% set image = image ?? video.image %}

    {# iFrame #}
    <iframe
            class="{{ iframeClass }}"
            data-cookieblock-src="{{ video.getIframeSrc(iframeOptions) }}"
            data-cookieconsent="{{ consentType }}"
            allowfullscreen
    ></iframe>

    {# Cookie Consent #}
    {% if showConsentMessage %}
        <div class="cookieconsent-optout-{{ consentType }} {{ wrapperClass }}">
            {# Thumbnail #}
            <img src="{{ image }}" alt="" class="{{ imageClass }}">

            {# Overlay #}
            <div class="bg-black bg-opacity-75 absolute inset-0 w-full h-full"></div>

            {# Content #}
            <div class="absolute flex items-center justify-center inset-0 w-full h-full p-8 text-center">
                <div class="{{ textClass }}">
                    {% set link_html = '<a class="text-white underline" href="javascript:Cookiebot.renew()">' ~ ( ('consent.accept.' ~ consentType) | t('consent')) ~ '</a>' %}
                    {{ 'consent.accept.message' | t('consent', { 'button': link_html | raw, 'type': ( 'consent.type.video' | t('consent') ) }) | raw }}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
