{# Theme #}
{% set theme = theme is defined and theme is not empty
  ? theme|json_decode
  : _globals.get('lameco.components.theme')
%}

{% set video = video ?? null %}
{% set image = image ?? null %}
{% set imageTransform = imageTransform ?? null %}
{% set class = class ?? null %}
{% set videoOptions = videoOptions ?? [] %}
{% set consentType = consentType ?? 'marketing' %}

{% if video is not empty %}
  {% set embeddedAsset = craft.embeddedAssets.get(video) %}
  {% if video.kind is defined and video.kind == 'video' and embeddedAsset is empty %}
    <div class="absolute inset-0 h-full w-full overflow-hidden {{ class }}">
      <video
        class="absolute inset-0 h-full w-full object-cover"
        aria-hidden="true"
        autoplay
        loop
        muted
        playsinline
      >
        <source src="{{ video.url }}" type="{{ video.mimeType }}">
      </video>
    </div>
  {% elseif embeddedAsset is not empty %}
    {% set image = image is empty ? embeddedAsset.image : image %}
    <div class="absolute inset-0 h-full w-full overflow-hidden {{ class }}">
      {{ _self.image(image, imageTransform, video) }}

      {% if videoOptions is empty %}
        {% set videoOptions = ['autoplay=1', 'loop=1'] %}
        {% if embeddedAsset.providerName in ['YouTube'] %}
          {% set videoId = embeddedAsset.url|split('v=')|last|split('&')|first %}
          {% set videoOptions =
            videoOptions|merge(
              ['mute=1', 'controls=0', 'showinfo=0', 'loop=1', 'playlist=' ~ videoId]
            )
          %}
        {% elseif embeddedAsset.providerName in ['Vimeo'] %}
          {% set videoOptions =
            videoOptions|merge(['background=1', 'muted=1', 'byline=0', 'title=0'])
          %}
        {% endif %}
      {% endif %}

      <div
        class="-translate-1/2 absolute start-1/2 top-1/2 min-h-full min-w-full"
        style="aspect-ratio: {{ embeddedAsset.width }} / {{ embeddedAsset.height }}"
      >
        <iframe
          class="h-full w-full"
          aria-hidden="true"
          data-cookieblock-src="{{ embeddedAsset.getIframeSrc(videoOptions) }}"
          data-cookieconsent="{{ consentType }}"
          allowfullscreen
          allow="autoplay; fullscreen; picture-in-picture"
        ></iframe>
      </div>

      {% set consentClass = "absolute inset-0 h-full w-full flex justify-center items-center " ~ theme.ui.video.consent.class ?? '' %}
      <x-consent.default class="{{ consentClass }}" consentType="{{ consentType }}" type="video"></x-consent.default>
    </div>
  {% endif %}
{% endif %}

{% macro image(image, imageTransform, video) %}
  {% if image is string %}
    <img
      src="{{ image }}"
      alt="{{ video.title }}"
      loading="lazy"
      class="absolute inset-0 h-full w-full object-cover"
    />
  {% else %}
    <x-ui.image image="{{ image }}" transform="{{ imageTransform }}" class="absolute inset-0 h-full w-full object-cover"></x-ui.image>
  {% endif %}
{% endmacro %}