{# Get the theme  #}
{% set theme = theme is defined and theme is not empty ? theme | json_decode : _globals.get('lameco.components.theme') %}

{% set entry = entry ?? null %}
{% set text = text ?? ('share' | t) %}
{% set items = items ?? theme.social.share.list.items ?? ['mail', 'linkedin', 'facebook', 'twitter', 'whatsapp'] %}
{% set wrapperClass = wrapperClass ?? theme.social.share.list.wrapper ?? 'flex flex-wrap gap-4 items-center' %}
{% set listClass = listClass ?? theme.social.share.list.list ?? 'flex flex-wrap gap-2 items-center' %}
{% set itemClass = (itemClass ?? theme.social.share.list.item ?? 'h-8 w-8 flex justify-center items-center') ~ ' transition-all' %}

{% if entry is not empty %}
    <div class="{{ wrapperClass }}">
        <span>{{ text }}</span>

        <div class="{{ listClass }}">
            {% for item in items %}
                {% if item == 'mail' %}
                    <a href="mailto:?subject={{ entry.title }}&body={{ entry.url }}" target="_blank"
                       rel="noopener noreferrer"
                       class="{{ itemClass }}">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                {% endif %}

                {% if item == 'linkedin' %}
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry.url }}" target="_blank"
                       rel="noopener noreferrer"
                       class="{{ itemClass }}">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                {% endif %}

                {% if item == 'facebook' %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" target="_blank" rel="noopener noreferrer"
                       class="{{ itemClass }}">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                {% endif %}

                {% if item == 'whatsapp' %}
                    <a href="https://wa.me/?text={{ entry.url }}" target="_blank" rel="noopener noreferrer"
                       class="{{ itemClass }}">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                {% endif %}

                {% if item == 'twitter' %}
                    <a href="https://x.com/intent/post?text={{ entry.title | url_encode }}&url={{ entry.url | url_encode }}" target="_blank" rel="noopener noreferrer"
                       class="{{ itemClass }}">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
