{% set theme = _globals.get('lameco.components.theme') %}

{% if hyper is defined and not hyper.isEmpty() %}
    {% set url = hyper.url %}
    {% set text = hyper.text %}
    {% set target = hyper.target ?? '_self' %}
    {% set variant = hyper.commonButtonType.value ?? 'primary' %}
{% else %}
    {% set url = url ?? null %}
    {% set text = text ?? '' %}
    {% set target = target ?? '_self' %}
    {% set variant = attributes.variant ?? 'primary' %}
{% endif %}

{% set icon = attributes.icon ?? null %}

{% set classes = html_cva(
    base='btn inline-flex items-center justify-between outline font-semibold overflow-hidden group relative transition-all duration-200 ' ~ theme.ui.button.base ?? '',
    variants={
        color: {
            primary: theme.ui.button.primary ?? 'bg-primary text-black outline-primary hover:outline-secondary',
            secondary: theme.ui.button.secondary ?? 'bg-secondary text-black outline-secondary hover:outline-primary hover:bg-primary',
            outline: theme.ui.button.outline ?? 'bg-transparent text-black outline-primary hover:outline-primary hover:bg-primary',
            white: theme.ui.button.white ?? 'bg-white text-black outline-white hover:outline-primary hover:bg-primary',
        },
        size: {
            sm: theme.ui.button.size.sm ?? 'px-4 py-3',
            default: theme.ui.button.size.default ?? 'px-6 py-4',
        },
},
    defaultVariant={
    color: 'primary',
    size: 'default'
}) %}

{% set variantClasses = classes.apply({color: variant, size: attributes.size ?? null}) %}

<a href="{{ url }}"
   class="{{ attributes.merge({ class: variantClasses }).class }}"
   target="{{ target }}">
    <span class="bg-white z-0 absolute top-0 end-0 bottom-0 start-0 transition-transform ease-in-out {{ theme.ui.button.overlay ?? '' }}"></span>
    <span class="relative flex items-center gap-4 z-50">
        <span>{{ slot is not empty ? slot : text }}</span>
         {% if icon is defined and icon is not empty %}
             <span class="w-6 h-6 rounded-full flex items-center justify-center text-sm group-hover:bg-primary transition-colors ease-in-out{% if variant == 'primary' %} bg-white{% elseif variant == 'secondary' %} bg-primary{% endif %}">
                 <i class="{{ icon }}"></i>
             </span>
         {% endif %}
    </span>
</a>
