{% if hyper is defined and not hyper.isEmpty() %}
    {% set url = hyper.url %}
    {% set text = hyper.text %}
    {% set target = hyper.target ?? '_self' %}
{% else %}
    {% set url = url ?? null %}
    {% set text = text ?? '' %}
    {% set target = target ?? '_self' %}
{% endif %}

{% set icon = attributes.icon ?? null %}

{% set classes = html_cva(
    base='btn inline-flex items-center justify-between leading-6 outline outline-1 font-semibold overflow-hidden group relative rounded-full' ~ (icon is not empty ? ' btn--has-icon' : null),
    variants={
    color: {
        primary: 'bg-primary text-black outline-primary hover:outline-secondary transition-all',
        secondary: 'bg-secondary text-black outline-secondary hover:outline-primary hover:bg-primary transition-all',
        outline: 'bg-transparent text-black outline-primary hover:outline-primary hover:bg-primary',
    },
    size: {
        sm: 'px-4 py-3',
        default: 'px-6 py-4',
    },
},
    defaultVariant={
    color: 'primary',
    size: 'default'
}) %}

{% set variant = attributes.variant ?? 'primary' %}
{% set variantClasses = classes.apply({color: variant, size: attributes.size ?? null}) %}

<a href="{{ url }}"
   class="{{ attributes.merge({ class: variantClasses }).class }}"
   target="{{ target }}">
    <span class="bg-white z-0 absolute top-0 end-0 bottom-0 start-0 transition-transform ease-in-out rounded-full translate-x-[-101%] group-hover:translate-x-0"></span>
    <span class="relative flex items-center gap-4 z-50">
        <span>{{ slot is not empty ? slot : text }}</span>
         {% if icon is defined and icon is not empty %}
             <span class="w-6 h-6 rounded-full flex items-center justify-center text-sm group-hover:bg-green-400 transition-colors ease-in-out{% if variant == 'primary' %} bg-white{% elseif variant == 'secondary' %} bg-primary{% endif %}">
                 <i class="{{ icon }}"></i>
             </span>
         {% endif %}
    </span>
</a>
