{% set theme = _globals.get('lameco.components.theme') %}

<div class="w-full {{ theme.ui.collapse.wrapper ?? 'border-b border-slate-200' }}" x-data="{ expanded: false }">
    <button class="group w-full flex justify-between items-center gap-4 cursor-pointer {{ theme.ui.collapse.button ?? 'py-3 pl-2 text-slate-800' }}" @click="expanded = ! expanded">
        <span class="{{ theme.ui.collapse.title ?? '' }}">{{ attributes.title | raw }}</span>

        <span class="flex justify-center items-center {{ theme.ui.collapse.icon.wrapper ?? 'w-8 h-8 bg-black' }} shrink-0 transition-transform ease-out">
            {% if theme.ui.collapse.icon.openHtml is defined and theme.ui.collapse.icon.closedHtml is defined %}
                <span x-show="expanded">{{ theme.ui.collapse.icon.openHtml | raw }}</span>
                <span x-show="!expanded">{{ theme.ui.collapse.icon.closedHtml | raw }}</span>
            {% else %}
                <span :class="{ 'rotate-180' : expanded }">{{ theme.ui.collapse.icon.html | raw }}</span>
            {% endif %}
        </span>
    </button>
    <div x-show="expanded" x-collapse>
        <div class="{{ theme.ui.collapse.content ?? 'pl-2' }}">
            {{ slot }}
        </div>
    </div>
</div>
