{# Theme #}
{% set theme = theme is defined and theme is not empty
  ? theme|json_decode
  : _globals.get('lameco.components.theme')
%}

{# Component Variables #}
{% set class = class ?? '' %}

{# Component #}
<div class="{{ theme.ui.collapse.class ?? '' }} {{ class }}" x-data="{ expanded: false }">
  <button
    class="w-full text-start {{ theme.ui.collapse.button.class ?? 'flex items-center gap-4' }}"
    @click="expanded = ! expanded"
  >
    <span class="{{ theme.ui.collapse.title.class ?? 'grow' }}">{{ title|raw }}</span>

    <span class="flex items-center justify-center {{ theme.ui.collapse.icon.class ?? '' }}">
      {% if
        theme.ui.collapse.icon is defined
          and theme.ui.collapse.icon.openHtml is defined
          and theme.ui.collapse.icon.closedHtml is defined %}
        <span x-show="expanded">{{ theme.ui.collapse.icon.openHtml|raw }}</span>
        <span x-show="!expanded">{{ theme.ui.collapse.icon.closedHtml|raw }}</span>
      {% else %}
        <span class="transition-transform" :class="{ 'rotate-180' : expanded }">
          {{ theme.ui.collapse.icon is defined and theme.ui.collapse.icon.html is defined
            ? theme.ui.collapse.icon.html|raw
            : '<i class="fa-regular fa-angle-down"></i>' }}
        </span>
      {% endif %}
    </span>
  </button>
  <div x-show="expanded" x-collapse>
    <div class="{{ theme.ui.collapse.content ?? '' }}">
      {{ slot }}
    </div>
  </div>
</div>
