{% set block = attributes.block %}
{% set background = attributes.backgroundColor ?? 'none' %}
{% set textColor = attributes.textColor ?? 'black' %}

<section class="{{ attributes.merge({ class: 'page-builder-block bg-' ~ background }).class }}"
         data-block="content-media">
    <div class="{{ attributes.merge({ containerClass: 'relative container flex lg:flex-row flex-col' }).containerClass }}">
        <div class="{{ attributes.merge({ contentColumnClass: 'lg:px-16 px-8 lg:py-20 py-12 w-full lg:basis-1/2 flex flex-col justify-center bg-' ~ background ~ (not block.blockAlignment ? ' lg:order-last' : '')}).contentColumnClass }} ">
            {% if block.blockPreTitle is not empty %}
                <div class="{{ attributes.merge({ preTitleClass: 'content-fade-in relative text-' ~ textColor }).preTitleClass }}">
                    {{ block.blockPreTitle | raw }}
                </div>
            {% endif %}

            <x-ui.title level="{{ block.blockTitleLevel }}"
                        class="{{ 'text-' ~ textColor }}">{{ block.blockTitle }}</x-ui.title>

            {% if block.blockIntro is not empty %}
                <div class="{{ attributes.merge({ introClass: 'content-fade-in mb-4 text-' ~ textColor }).introClass }}">
                    {{ block.blockIntro | raw }}
                </div>
            {% endif %}

            {% if block.blockContent is not empty %}
                <div class="content-fade-in text-{{ textColor }}">
                    {{ block.blockContent | raw }}
                </div>
            {% endif %}

            {% if not block.blockButton.isEmpty() %}
                <div class="content-fade-in">
                    <x-ui.button class="mt-6" hyper="{{ block.blockButton }}"></x-ui.button>
                </div>
            {% endif %}

            {{ contentSlot ?? null }}
        </div>

        <div class="{{ attributes.merge({ mediaColumnClass: 'relative w-full lg:basis-1/2' ~ (not block.blockAlignment ? ' lg:order-first' : '') }).mediaColumnClass }}">
            {% if block.blockImage is not empty %}
                {% set image = block.blockImage.eagerly().withTransforms(attributes.imageTransform ?? []).one() %}

                <x-ui.image
                        image="{{ image }}"
                        transform="{{ attributes.imageTransform ?? null }}"
                        class="w-full h-full object-cover"
                ></x-ui.image>
            {% endif %}

            {% if block.blockVideo is not empty %}
                {% set video = block.blockVideo.one() %}
                {% set embeddedAsset = craft.embeddedAssets.get(video) %}
                {% if embeddedAsset is not empty %}
                    {% set iframeSrc = embeddedAsset.getIframeSrc(['autoplay=1','byline=0','title=0']) %}
                    <div class="{{ attributes.merge({ videoClass: 'photo-swipe--iframe-js absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2' }).videoClass }}">
                        <a href="{{ iframeSrc }}" target="_blank" data-pswp-type="iframe"
                           data-pswp-iframe-url="{{ iframeSrc }}"
                           class="w-24 h-24 rounded-full bg-white flex items-center justify-center text-2xl hover:bg-green-400 transition-colors ease-in-out">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            {{ mediaSlot ?? null }}
        </div>
    </div>
</section>
