{# Theme #}
{% set theme = theme is defined and theme is not empty
  ? theme|json_decode
  : _globals.get('lameco.components.theme')
%}

{# Component Variables #}
{% set block = attributes.block %}

{% set sectionClass = sectionClass ?? 'bg-none' %}
{% set containerClass = containerClass ?? 'container' %}
{% set innerClass = innerClass ?? null %}
{% set contentClass = contentClass ?? null %}

{% set imageClass = imageClass ?? null %}
{% set imagePictureClass = imagePictureClass ?? null %}
{% set imageImgClass = imageImgClass ?? null %}
{% set image = null %}

{% if block.image is defined and block.image is not empty %}
  {% set imageTransform = imageTransform ?? null %}
  {% set image = block.image.eagerly().one() %}
{% endif %}

{% set contentWrapperClass = contentWrapperClass ?? null %}
{% set buttonWrapperClass = buttonWrapperClass ?? null %}
{% set buttonDarkMode = buttonDarkMode ?? false %}

{% set titleClass = titleClass is defined
  ? titleClass
    ~ (theme.gsapAnimations is defined and theme.gsapAnimations ? ' content-fade-in' : '')
  : theme.gsapAnimations is defined and theme.gsapAnimations ? ' content-fade-in' : ''
%}
{% set preTitleClass = preTitleClass ?? null %}

{# Component #}
<section class="page-builder-block {{ sectionClass }}" data-block="{{ block.type }}">
  <div class="{{ containerClass }}">
    <div class="{{ innerClass }}">
      <div
        class="{{ contentClass }}{{
        theme.gsapAnimations is defined and theme.gsapAnimations
          ? ' content-fade-in'
          : ''
        }}"
      >
        {% if block.preTitle is not empty %}
          <strong
            class="{{ preTitleClass }}{{
            theme.gsapAnimations is defined and theme.gsapAnimations
              ? ' content-fade-in'
              : ''
            }}"
          >
            {{ block.preTitle }}
          </strong>
        {% endif %}

        {% if block.title is not empty %}
          <x-ui.title level="{{ block.titleLevel }}" class="{{ titleClass }}">
            {{ block.title }}
          </x-ui.title>
        {% endif %}

        {% if block.content is not empty %}
          <div
            class="{{ contentWrapperClass }}{{
            theme.gsapAnimations is defined and theme.gsapAnimations
              ? ' content-fade-in'
              : ''
            }} text-block"
          >
            {{ block.content|raw }}
          </div>
        {% endif %}

        {% if block.buttons is not empty %}
          <div
            class="{{ buttonWrapperClass }}{{
            theme.gsapAnimations is defined and theme.gsapAnimations
              ? ' content-fade-in'
              : ''
            }}"
          >
            {% for button in block.buttons|filter(
              button => ((button is instance of('verbb\\hyper\\links\\Entry')
                or button is instance of('verbb\\hyper\\links\\Custom')
                or button is instance of('verbb\\hyper\\links\\Email')
                or button is instance of('verbb\\hyper\\links\\Phone')
                or (button is instance of('verbb\\hyper\\links\\Url') and not button.isEmpty()))
                and not button.isEmpty())
                or (button.linkButton is defined and button.linkButton is not empty)
            ) %}
              {% if
                button is instance of('verbb\\hyper\\links\\Entry')
                  or button is instance of('verbb\\hyper\\links\\Custom')
                  or button is instance of('verbb\\hyper\\links\\Email')
                  or button is instance of('verbb\\hyper\\links\\Phone')
                  or (button is instance of('verbb\\hyper\\links\\Url') and not button.isEmpty()) %}
                {% set type = button.linkType.value ~ (buttonDarkMode ? 'Dark') %}
                <x-ui.button hyper="{{ button }}" type="{{ type }}"></x-ui.button>
              {% elseif button.linkButton is defined and button.linkButton is not empty %}
                {% set type = button.linkType.value ~ (buttonDarkMode ? 'Dark') %}
                <x-ui.button link="{{ button.linkButton }}" type="{{ type }}"></x-ui.button>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% if image is not empty %}
        <div class="{{ imageClass }}">
          <x-ui.image
            image="{{ image }}"
            transform="{{ imageTransform }}"
            pictureClass="{{ imagePictureClass }}"
            imgClass="{{ imageImgClass }}"
          ></x-ui.image>
        </div>
      {% endif %}
    </div>
  </div>
</section>
