{% set block = attributes.block %}
{% set textColor = attributes.textColor ?? 'black' %}
{% set containerClass = attributes.containerClass ?? '' %}

<section class="page-builder-block" data-block="call-to-action">
    <div class="container py-12 bg-{{ block.blockBackgroundColor }} {{ containerClass }}">
        <div class="flex lg:flex-row flex-col lg:gap-24 gap-14 justify-center">
            <div class="lg:w-9/12">
                <x-ui.title level="{{ block.blockTitleLevel }}"
                            class="{{ 'text-' ~ textColor ~ (block.blockTextAlignment ? ' text-center': '') }}">{{ block.blockTitle }}</x-ui.title>

                {% if block.blockContent is not empty %}
                    <div class="content-fade-in col text-block text-{{ textColor }}{% if block.blockTextAlignment %} text-center{% endif %}">{{ block.blockContent | raw }}</div>
                {% endif %}
                {% if block.blockButtons is not empty %}
                    <div class="flex flex-wrap gap-4{% if block.blockTextAlignment %} justify-center{% endif %}">
                        {% for button in block.blockButtons %}
                            {% if not button.isEmpty() %}
                                <div class="content-fade-in mt-8 flex{% if block.blockTextAlignment %} justify-center{% endif %}">
                                    <x-ui.button hyper="{{ button }}"></x-ui.button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>