<section class="{{ attributes.merge({ class: 'page-builder-block' }).class }}" data-block="collapsible-content">
    <div class="container">
        <div class="sm:w-8/12 w-full mx-auto">
            {% if block.blockTitle is not empty %}
                <x-ui.title level="{{ block.blockTitleLevel }}" class="text-center">{{ block.blockTitle }}</x-ui.title>
            {% endif %}

            {% if block.blockContent is not empty %}
                <div class="content-fade-in text-center">
                    {{ block.blockContent | raw }}
                </div>
            {% endif %}
        </div>

        <div class="sm:w-10/12 w-full mt-8 mx-auto">
            {% for item in block.blockItems %}
                <x-ui.collapse title="{{ item.blockTitle }}">
                    <div class="pb-5">{{ item.blockContent | raw }}</div>

                    {% if item.blockButtons is not empty %}
                        <div class="flex flex-wrap gap-4">
                            {% for button in item.blockButtons %}
                                {% if not button.isEmpty() %}
                                    <div class="content-fade-in mt-8 flex">
                                        <x-ui.button hyper="{{ button }}"></x-ui.button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </x-ui.collapse>
            {% endfor %}
        </div>
    </div>
</section>
