{# Theme #}
{% set theme = theme is defined and theme is not empty
  ? theme|json_decode
  : _globals.get('lameco.components.theme')
%}

{# Component Variables #}
{% set block = block %}

{% set sectionClass = sectionClass ?? 'bg-none' %}
{% set containerClass = containerClass ?? 'container' %}
{% set innerClass = innerClass ?? '' %}

{% set contentWrapperClass = contentWrapperClass ?? '' %}
{% set buttonWrapperClass = buttonWrapperClass ?? '' %}
{% set buttonDarkMode = buttonDarkMode ?? false %}

{% set titleClass = titleClass is defined
  ? titleClass
    ~ (theme.gsapAnimations is defined and theme.gsapAnimations ? ' content-fade-in' : '')
  : theme.gsapAnimations is defined and theme.gsapAnimations ? ' content-fade-in' : ''
%}
{% set preTitleClass = preTitleClass ?? '' %}

{# Component #}
{% if block.content is not empty %}
  <section class="page-builder-block {{ sectionClass }}" data-block="{{ block.type }}">
    <div class="{{ containerClass }}">
      <div class="{{ innerClass }}">
        {% if block.preTitle is not empty %}
          <strong
            class="{{ preTitleClass }}{{
            theme.gsapAnimations is defined and theme.gsapAnimations
              ? ' content-fade-in'
              : ''
            }}"
          >
            {{ block.preTitle }}
          </strong>
        {% endif %}

        {% if block.title is not empty %}
          <x-ui.title level="{{ block.titleLevel }}" class="{{ titleClass }}">
            {{ block.title }}
          </x-ui.title>
        {% endif %}

        {% if block.content is not empty %}
          <div
            class="{{ contentWrapperClass }}{{
            theme.gsapAnimations is defined and theme.gsapAnimations
              ? ' content-fade-in'
              : ''
            }} text-block"
          >
            {{ block.content|raw }}
          </div>
        {% endif %}

        {% if block.buttons is not empty %}
          {% set buttons = block.buttons.all() %}
          <x-helper.buttons
            buttons="{{ buttons }}"
            class="{{ buttonWrapperClass }}"
            buttonDarkMode="{{ buttonDarkMode }}"
          ></x-helper.buttons>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
