{% set background = attributes.background.value ?? 'none' %}

<section class="{{ attributes.merge({ class: 'content-block bg-none' }).class }}">
    <div class="relative overflow-hidden bg-{{ background }}{% if background != 'none' %} py-24{% endif %}">
        <div class="relative z-10 container flex flex-wrap lg:items-center">
            <div class="{{ attributes.merge({ contentColumnClass: 'lg:ml-1/12 lg:w-1/3 pb-10' ~ (background != 'none' ? ' pt-10' : '') ~ (not attributes.alignment ? ' lg:order-last' : '')}).contentColumnClass}} ">
                {% if attributes.preTitle is defined and attributes.preTitle is not empty %}
                    <div class="{{ attributes.merge({ preTitleClass: 'content-fade-in relative' }).preTitleClass }}">
                        {{ attributes.preTitle | raw }}
                    </div>
                {% endif %}

                <x-ui.title class="mb-5" level="{{ attributes.titleLevel }}">{{ attributes.title }}</x-ui.title>

                {% if attributes.subTitle is defined and attributes.subTitle is not empty %}
                    <div class="{{ attributes.merge({ subTitleClass: 'content-fade-in' }).subTitleClass }}">
                        {{ attributes.subTitle | raw }}
                    </div>
                {% endif %}

                <div class="content-fade-in">
                    {{ attributes.content | raw }}
                </div>

                {% if not attributes.button.isEmpty() %}
                    {{ include('_partials/button/button.twig', {
                        text: attributes.button.text,
                        url: attributes.button.url,
                        target: attributes.button.target,
                        type: attributes.buttonType.value,
                        class: 'mt-8 lg:mb-0 mb-8',
                        icon: '<i class="fa-regular fa-arrow-right -rotate-45 group-hover:rotate-0 transition-transform ease-in-out"></i>',
                        iconWrapperClass: (attributes.buttonType.value == 'secondary' and background == 'none') ? 'bg-blue-200'
                    }) }}
                {% endif %}

                {{ contentSlot ?? null }}
            </div>

            <div class="{{ attributes.merge({ mediaColumnClass: 'relative w-full lg:w-1/2' ~ (not attributes.alignment ? ' lg:order-first' : ' lg:ml-1/12') }).mediaColumnClass }}">
                {% if attributes.image is not empty %}
                    {% set media = attributes.image.eagerly().withTransforms(attributes.imageTransform ?? []).one() %}

                    {{ include('_helpers/image/image.twig', {
                        lazyload: true,
                        image: media,
                        imageTransform: attributes.imageTransform ?? null,
                        alt: media.alt ?? media.title,
                        class: 'w-full h-full object-cover'
                    }) }}
                {% endif %}

                {% if attributes.video is not empty %}
                    {% set video = attributes.video.one() %}
                    {% set embeddedAsset = craft.embeddedAssets.get(video) %}
                    {% if embeddedAsset is not empty %}
                        {% set iframeSrc = embeddedAsset.getIframeSrc(['autoplay=1','byline=0','title=0']) %}
                        <div class="{{ attributes.merge({ videoClass: 'photo-swipe--iframe-js absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2' }).videoClass }}">
                            <a href="{{ iframeSrc }}" target="_blank" data-pswp-type="iframe" data-pswp-iframe-url="{{ iframeSrc }}" class="w-24 h-24 rounded-full bg-white flex items-center justify-center text-2xl hover:bg-green-400 transition-colors ease-in-out">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                {{ mediaSlot ?? null }}
            </div>
        </div>
    </div>
</section>
