{% set block = attributes.block %}
{% set textColor = attributes.textColor ?? 'black' %}

{% if block.blockColumns is not empty %}
    <section class="page-builder-block bg-{{ block.blockBackgroundColor }}" data-block="general-content">
        <div class="container">
            <div class="flex lg:flex-row flex-col lg:gap-24 gap-14{% if block.blockColumnsAlignment %} lg:justify-center{% endif %}">
                {% for column in block.blockColumns %}
                    <div class="{% if block.blockColumns | length > 1 %}col{% else %}lg:w-9/12{% endif %}">
                        {% if column.blockPreTitle is not empty %}
                            <div class="{{ attributes.merge({ preTitleClass: 'content-fade-in relative mb-2 text-' ~ textColor ~ (block.blockTextAlignment ? ' text-center' : '') }).preTitleClass }}">
                                {{ column.blockPreTitle | raw }}
                            </div>
                        {% endif %}

                        {% set titleClass = 'text-' ~ textColor %}
                        {% if block.blockTextAlignment %}
                            {% set titleClass = ' text-' ~ textColor %}
                        {% endif %}
                        <x-ui.title level="{{ column.blockTitleLevel }}"
                                    class="{{ titleClass }}">{{ column.blockTitle }}</x-ui.title>

                        {% if column.blockContent is not empty %}
                            <div class="content-fade-in col text-block text-{{ textColor }}{% if block.blockTextAlignment %} text-center{% endif %}">{{ column.blockContent | raw }}</div>
                        {% endif %}

                        {% if not column.blockButton.isEmpty() %}
                            <div class="content-fade-in mt-4{% if block.blockTextAlignment %} flex justify-center{% endif %}">
                                <x-ui.button hyper="{{ column.blockButton }}"></x-ui.button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
