{% set block = attributes.block %}
{% set textColor = attributes.textColor ?? 'black' %}

{% if block.blockColumns is not empty %}
    <section class="page-builder-block bg-{{ block.blockBackgroundColor ?? 'none' }}" data-block="general-content">
        <div class="container">
            <div class="flex lg:flex-row flex-col lg:gap-24 gap-14{% if block.blockColumnsAlignment %} lg:justify-center{% endif %}">
                {% for column in block.blockColumns %}
                    <div class="{% if block.blockColumns | length > 1 %}col{% else %}lg:w-9/12{% endif %}">
                        {% if column.blockPreTitle is not empty %}
                            <div class="{{ attributes.merge({ preTitleClass: 'content-fade-in relative mb-2 text-' ~ textColor ~ (block.blockTextAlignment ? ' text-center' : '') }).preTitleClass }}">
                                {{ column.blockPreTitle | raw }}
                            </div>
                        {% endif %}

                        {% if column.blockTitle is not empty %}
                            <x-ui.title level="{{ column.blockTitleLevel }}"
                                        class="{{ 'text-' ~ textColor ~ (block.blockTextAlignment ? ' text-center': '') }}">{{ column.blockTitle }}</x-ui.title>
                        {% endif %}

                        {% if column.blockContent is not empty %}
                            <div class="content-fade-in col text-block text-{{ textColor }}{% if block.blockTextAlignment %} text-center{% endif %}">{{ column.blockContent | raw }}</div>
                        {% endif %}

                        {% if column.blockButtons is not empty %}
                            <div class="flex flex-wrap gap-4{% if block.blockTextAlignment %} justify-center{% endif %}">
                                {% for button in block.blockButtons %}
                                    {% if not button.isEmpty() %}
                                        <div class="content-fade-in mt-8 flex{% if block.blockTextAlignment %} justify-center{% endif %}">
                                            <x-ui.button hyper="{{ button }}"></x-ui.button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
